.dropdownMenu img {
  height: 30px;
  width: 40px;
  margin-left: auto;
}

.dropdownItems {
  position: absolute;
  right: 20px;
  list-style: none;
  background: var(--blue-900);
  padding: 10px;
  border-radius: 10px;

}

.dropdownItems li a {
  color: var(--white);
  font-size: 16px;
}

.active {
  color: var(--blue-400) !important;
}