.boxHistoric {
  max-width: 1100px;
  height: 250px;
  background: var(--blue-400);
  display: flex;
  padding: 25px 50px 35px 20px;
  gap: 40px;
  border-radius: 10px;
}

.contentImage {
  width: 150px;
  height: 200px;
}

.contentImage img {
  width: 100%;
  height: 100%;
}

.contentDesc {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 60%;
}

.contentDesc h1 {
  color: var(--white);
}

.contentDesc p {
  color: var(--white);
}

.streamers {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: start;
}

.streamers a {
  text-decoration: underline;
  font-size: 22px;
}

.contentButtons {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentButtons button {
  width: 145px;
  height: 30px;
  background: var(--white);
  cursor: pointer;
  border: 0;
  border-radius: 10px;
}

@media (max-width: 426px) {
  .boxHistoric {
    width: 90vw;
    margin: 0 auto;
    flex-direction: column;
    height: auto;

    align-items: center;
  }


  .contentDesc {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }


  .contentButtons {
    margin-right: auto;
    flex-direction: row;
  }

  .contentButtons button {
    width: 120px;
  }

}