.headerContainer {
  height: 5rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
}

.headerContent {
  max-width: 1220px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.headerContent img {
  height: 4rem;
}

.headerContent nav {
  margin-left: 5rem;
  height: 5rem;
}

.headerContent nav a.activeLink {
  color: #016fb9;
}

.headerContent nav a {
  line-height: 5rem;
  color: var(--white);
  font-weight: 700;
}

.headerContent nav a+a {
  margin-left: 2rem;
}

.headerContent .utilsContent {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 1rem;
}

.headerContent .utilsContent img {
  width: 3rem;
}

@media (max-width: 426px) {
  .headerContent nav {
    display: none;
  }
}