.rodape {
  height: 5rem;
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 2rem;
  align-items: center;

  position: fixed;
  bottom: 1rem;
  right: 2rem;
}

.rodape .btnAjuda {
  margin-left: auto;
  height: 3rem;
}
