.btnSubmit {
  display: flex;
  justify-content: center;
  width: 220px;
  padding: 7px 0 7px 0;

  --font4: 300 17px/1.5 montserrat;
  background-color: var(--white);
  color: black;
  font: var(--font4);

  border-radius: var(--radius);
  border: none;
}

.btnSubmit:hover,
.btnSubmit:focus {
  background-color: #f3f3f3f3;
  cursor: pointer;
}
