.btnLogout {
  background: var(--blue-400);
  color: var(--white);
  border: 0;

  cursor: pointer;
  font-size: 25px;
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
}

@media (max-width: 426px) {
  .btnLogout {

    width: 4rem;
    height: 2rem;

    font-size: 14px;
  }
}