.barGraphs {
  width: 100%;
  position: fixed;
  z-index: -1;
  bottom: 0;
}

.barGraphs img {
  height: 100%;

  object-fit: fill;
}

@media (min-width: 1024px) {


  .barGraphs img {
    width: 100%;
  }

  .cardsControll> :last-child {
    margin-right: 0;
  }
}



@media (max-width: 426px) {
  .barGraphs {
    height: 80vh;
  }

  .barGraphs img {
    object-fit: contain;
    height: 100%;
    object-fit: cover;
  }

  .cardsControll> :last-child {
    margin-right: 0;
  }
}