<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="categorias.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">
    <title>Document</title>
</head>

<div class="categoria">
    <div class="tags">
        <button class="btn_terciario">a assistir <span> <img excluir_cat src="./assets/excluir.svg" alt="excluir categoria"></span> </button>
        <button class="btn_terciario">a assistir <span> <img excluir_cat src="./assets/excluir.svg" alt="excluir categoria"></span> </button>
        <button class="btn_terciario">a assistir <span> <img excluir_cat src="./assets/excluir.svg" alt="excluir categoria"></span> </button>
        <button class="btn_terciario">a assistir <span> <img excluir_cat src="./assets/excluir.svg" alt="excluir categoria"></span> </button>
    </div>
    <div class="menu">
        <img class="menu_icon" src="./assets/menu.svg" alt="menu">
        </div>

        <div class="cat_menu_ham">
            <nav>
            <li  class="btn_opcoesmenu">A assistir</li>
            <li  class="btn_opcoesmenu">Assistido</li>
            <li  class="btn_opcoesmenu">Não gostei</li>
            <li  class="btn_opcoesmenu">Gostei</li>
            </nav>
        </div>
</div>
</html>
