.box_midiainfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100vw;
    padding: 0;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%)
}




.conteudo {
    background-color: var(--background);
    width: 75%;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;

    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}

.conteudo::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}

.conteudo::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: var(--azulclaro);
    border-radius: var(--radius);
}

.conteudo>.l1 {
    display: flex;
    justify-content: center;
}

.fechar {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 1rem;
    left: 0.5rem;
}


.descricao {
    margin-bottom: 1rem;
    padding: 0 1rem;
    font-size: 12px;
}



.conteudo .nome {
    justify-content: center;
    z-index: 9999;
    font: var(--font32);
    overflow: hidden;
}


.conteudo .nome h3 {
    padding-top: 10px;
    margin-bottom: 1rem;
}



.capa_dois {
    width: 170px;
    height: 220px;
    margin-top: 2rem;
}



.streamers {
    display: flex;
    color: var(--azulclaro);
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 1rem;
}

.streamers li {
    list-style: none;
    text-decoration: underline;
    font: var(--font4);

}


.avaliacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    gap: 15px;

    margin-top: 2.4rem;


}

.avaliacoes button {
    height: 30px;
}

.reacao {
    height: calc(27px + 1vw);
}

.reacao:hover,
.reacao:focus {
    cursor: pointer;
    opacity: 60%;
}

@media (max-width: 800px) {

    .box_midiainfo {
        left: 50%;
        top: 70%;
    }

    body {
        overflow-x: hidden;
    }

    .box_midiainfo {
        overflow-y: hidden;
    }

    .conteudo {
        margin-top: 0rem;
        position: relative;
        padding: 1rem;
        height: 80vh;

    }


    .descricao {
        padding: 0 3rem;
    }

    .background_midiainfo .azulclaro {
        width: 70%;
        height: 100%;
        right: 12rem;
        top: 2em;
        border-radius: var(--radius);
    }

    .background_midiainfo .azulescuro {
        width: 70%;
        top: 2rem;
        left: 12rem;
        height: 100%;
    }
}

.fechar:hover,
.fechar:focus {
    cursor: pointer;
    opacity: 60%;
}


@media (min-width: 800px) {

    /* .fechar {
        display: none;
    } */

    .box_midiainfo {

        top: 30%;
    }

    .conteudo {
        flex-direction: row;
        align-items: center;
        padding: 1.5rem;

    }

    .h3 {
        margin-top: 2rem;
    }

    .capa {
        margin-top: 1rem;
    }

    .box_midiainfo {
        max-width: 1300px;
        max-height: 500px;
    }



    .background_midiainfo .azulclaro {
        width: 80%;
        height: 100%;
        right: 9.5rem;
        top: -2em;
        border-radius: var(--radius);
    }

    .background_midiainfo .azulescuro {
        width: 80%;
        top: 2rem;
        left: 10rem;
        height: 100%;
    }

    .avaliacoes {
        margin-bottom: 1rem;
    }
}