<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/paginas.css">
    <link rel="stylesheet" href="../components/global.css">
    <link rel="stylesheet" href="../components/midiainfo.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">
    <title>Document</title>
</head>
<body>
    <div class="box_midiainfo">   
        <div class="background_midiainfo">
            <div class="azulclaro"></div>
            <div class="azulescuro"></div>
        </div>
        <div class="conteudo">

            <img src="../assets/excluirazul.svg" alt="fechar tela" class="fechar">

                <div class="l1">
                    <img src="../assets/capateste.jpg" alt="capa da midia" class="capa_dois">
                </div>

                <!-- l2 é o mesmo que tem em historico. o que muda é a posição do nome/capa -->
                <div class="l2">
                    <h3 class="nome">Transformers <span class="ano">(<span id="ano">2007</span>)</span></h3>
                    <p class="descricao">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde cum commodi voluptatibus ducimus recusandae sapiente cumque ipsum! Unde aliquid qui ea blanditiis. Nisi iure dolore officia commodi ipsam qui a?
                    </p>

                    <ul class="streamers">
                        <li class="a">Netflix</li>
                        <li class="a">Star+</li>
                        <li class="a">Globo Play</li>
                    </ul>

                    <div class="avaliacoes">
                        <img id="like" src="../assets/like.svg" alt="gostei" class="reacao">
                        <img id="dislike" src="../assets/dislike.svg" alt="não gostei" class="reacao">
                        <div class="btn_terciario um">assistido</div>
                        <div class="btn_terciario um">a assistir</div>
                    </div>
                </div>
        </div>
    </div>
   
</body>
<script src="./midiainfo.js"></script>
</html>