<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="popups.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">
    <title>Document</title>
</head>


<div class="pop ajuda">
    <h4>Está com problemas? Entre em contato com devmovies@gmail.com</h4>
</div>
<br/>
<div class="pop btn_categoria">
    <h5>gostei!</h5>
</div>
<br/>
<div class="pop feedback">
    <h5>adicionado a lista <span id="lista">" <span>a assistir</span>"</span>!</h5>
</div>
<br/>
<div class="pop pag sair">
    <h2>Tem certeza que quer sair?</h2>
    <div class="l2">
        <button class="btn_secundario">sim</button>
        <button class="btn_secundario">não</button>
    </div>
</div>
<br/>
<div class="pop pag excluir">
    <h2>Tem certeza que quer excluir?</h2>
    <div class="l2">
        <button class="btn_secundario">sim</button>
        <button class="btn_secundario">não</button>
    </div>
</div>